/*  #067da1
    헤드 #0797c1;
         #bedce6
    배경 #e8f0f3
    선  #7e969e
*/

/* ----------- li ------------ */
.doctor-sideList{
  display: flex;
}
.doctor-sideList >ul{
  display: flex;
}
.doctor-sideList >ul >li{
  background-color: #0797c1 ;
  border: 1px solid #43a6c4;
  color: white;
  font-size: 1.1rem;
  padding: 10px 15px 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  box-shadow: 3px -1px 3px lightgray;
}
.doctor-sideList >ul >li:hover{
  background-color: #067da1;
  border: 1px solid #0797c1;
}
.doctor-sideList >ul >li.active{
  background-color: #0b5f79;
  border: 1px solid #0b5f79;
  border-bottom: none;
}




/*  */
.doctorManage{
  margin: 20px auto;
  width: 90%;
  height: 90%;
}

.doctor-content{
  padding-top: 30px;
  width: 90%;
  height: 750px;
  background-color: #dddddd;
  border-radius: 15px;
  border-top-left-radius: 0;
  box-shadow: 3px 3px 5px gray;
}
