.staffChange{
  margin-top: 30px;
  width: 95%;
  margin: auto;
  background-color: #e8f0f3;
}
.staffChange-content{
  overflow-y: scroll;
  height: 650px;
}
.staffChange-table{
  width: 100%;
  table-layout: fixed;
}
.staffChange-table > thead{
  background-color: #067da1;
  color: white;
  font-weight: bold;
  border-bottom: 4px double #7e969e ;
  position: sticky;
  top: 0;
}
.staffChange-table thead td{
  padding: 13px 0px;
}
.staffChange-table td{
  border: 1px solid #dddddd ;
  border-top: none;
  border-bottom: none;
  border-left: none;
  text-align: center;
  padding: 12px 0px;
}

.staffChange-table tbody tr:nth-child(odd){
  background-color: white;
}

.staffChange-table tbody td{
  padding: 10px 0px;
}