.App{
  width: 100vw;
}
/* ================ 헤더 ================*/
.head-line{
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.head{
  width: 80%;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.head-name{
  width: 100%;
  color: #1E2A5E ;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
  line-height: 10vh;
}
/* ----- 로그인, 회원가입 ----- */
.head-login{
  width: 80%;
  position: absolute;
  top: 40px;
  color: gray;
}
.head-login > ul{
  justify-content: end;
  display: flex;
  list-style: none;
  gap: 15px;
}
.head-login > ul > li:first-child{
  border-right: 2px solid lightgray;
  padding-right: 15px;
  cursor: default;
}
.head li>span{
  cursor: pointer;
}
.head li>span:hover{
  color: rgb(68, 68, 68);
}

/* ================ input ================ */

.form{
  font-size: 15px;
  vertical-align: middle;
  border: 2px solid #7e969e;
  border-radius: 5px;
  width: 100%;
  padding: 3px 5px;
}