.App{
  width: 100vw;
}
/* ================ 헤더 ================*/
.head{
  width: 80%;
  height: 18vh;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.head-name{
  width: 60%;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}
/* ----- 로그인, 회원가입 ----- */
.head-login{
  width: 50%;
}
.head-login > ul{
  justify-content: end;
  display: flex;
  list-style: none;
  gap: 20px;
}
.head-login > ul > li:first-child{
  border-right: 1px solid lightgray;
  padding-right: 20px;
}

/* ================ 레이아웃 ================ */

.layout{
}
