.App{
  width: 100vw;
}
/* ================ 헤더 ================*/
.head-line{
  width: 100%;
  height: 18vh;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.head{
  width: 80%;
  margin: auto;
}
.head-name{
  border: 1px dotted;
  width: 100%;
  color: #1E2A5E ;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
/* ----- 로그인, 회원가입 ----- */
.head-login{
  border: 1px dotted;
  width: 100%;
}
.head-login > ul{
  justify-content: end;
  display: flex;
  list-style: none;
  gap: 20px;
}
.head-login > ul > li:first-child{
  border-right: 1px solid lightgray;
  padding-right: 20px;
}

/* ================ 레이아웃 ================ */

.layout{
}
