.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 600px;
  margin: 50px auto;
  background: #ffffff;
  border: 1px solid #aacdff;
  box-shadow: 7px 7px 8px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
}

.btn-info{
  margin-top: 20px;
  font-size: 1.1rem;
  width: 200px;
  height: 30px;
  background-color: #84abe2;
}