.login{
display: flex;
width: 100%;
margin: auto;
}

.box {
  position: relative;
  margin: 50px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  background-color: #ddeee1;
  border-radius: 7px;
  padding: 30px;
}

.box input,
.box button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
}
.box input {
  margin-bottom: 25px;
}
.box button {
  background-color: #b2f1bd;
  color: #547fb2;
  border-radius: 4px;
}


.box1 {
  position: relative;
  margin: 50px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  background-color: #dde9ee;
  border-radius: 7px;
  padding: 30px;
}

.box1 input,
.box1 button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
}
.box1 input {
  margin-bottom: 25px;
}
.box1 button {
  background-color: #b2d5f1;
  color: #547fb2;
  border-radius: 4px;
}



.login-div{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f8f8f8;
  background-color: #253c58;
}