.container-qDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  margin: 40px auto;
  background: #ffffff;
  border: 1px solid #aacdff;
  box-shadow: 7px 7px 8px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
}

.Qdetail-div{
  margin-top: 40px;
  padding: 20px;
  width: 600px;
  border-bottom:1px solid #25364b;
border-top:1px solid #25364b;
}
.Qdetail-div tr td:first-child{
  width: 25%;
}

