/* ================ 레이아웃 잡기 ================ */

.home-div {
   display: flex;
}

/* ================ 이미지 ================ */

.home-div> .img {
   height: 650px;
   width: 100%;
   position: relative;
}
.home-div .img img{
   width: 100%;
   height: 100%;
   margin: auto;
   object-fit: cover;
   object-position: center center; 
   height: 100%; /* 높이를 조정하여 이미지 크기 조절 */
   position: relative;
   background-color: rgba(0, 0, 0, 0.3);
}
.home-div .img .img2{
   width: 100%;
   height: 98%;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   margin: auto;
   object-fit: contain;
   object-position: center center; 
   position: absolute;
   opacity: 1;
}

.img .img-list{
   display: flex;
   width: 60px;
   position: absolute;
   color: white;
   bottom:150px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: space-between;
}
.img-item{
   width: 15px;
   height: 15px;
   border: 1px solid white;
   border-radius: 5px;
}

.img-item.active{
   background-color: whitesmoke;
}

.img .img-btn{
   width: 80%;
   position: absolute;
   bottom: 300px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: space-between;
}

.img-btn i{
   color: white;
   cursor: pointer;
   font-size: 4rem;
   border: none;
   background-color: rgba(0, 0, 0, 0);
}
.img-btn i:hover{
   cursor: pointer;
   color: gray;
}

/* ============= 퀵메뉴 ============= */
.quick{
   width: 65vw;
   height: 250px;
   margin: auto;
   background-color: rgb(138, 156, 173);
   display: flex;
   flex-direction: column;
   padding: 15px;
   position: absolute;
   bottom: 80px;
   left: 50%;
   transform: translateX(-50%);
}
.quick > div{
   background-color: white;
   padding: 20px 30px;
}
.qTitle{
   color: gray;
   letter-spacing: 5px;
   font-size: 1.1rem;
   margin-bottom: 10px;
}
.quickList{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   height: 80%;
   padding: 10px 0px;
}
.qMenu{
   text-align: center;
   border-right: 1px solid #dddddd;
   padding: 15px 0px;
}
.qMenu:last-child{
   border-right: none;
}
.qMenu:hover{
   cursor: pointer;
   background-color: rgba(118, 140, 190, 0.1);
   box-shadow: 1px 3px 6px lightgray;
}
.qIcon{
   margin: auto;
   width: 100px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.qIcon img{
   width: 45%;
}



/* ================ 내용 ================ */

.content{
   display: flex;
   width: 65vw;
   height: 300px;
   margin: 100px auto;
   gap: 30px;   
}

.content .home3{
   padding: 15px;
   width: 40%;
   box-shadow: 3px 3px 7px #cccccc;
}
.content .content-list{
   width: 60%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
}

.content .content-list > div{
   box-shadow: 3px 3px 7px #cccccc;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content-list > div > div{
   display: flex;
   justify-content: center;
}

.content-list > div > div:first-child{
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 15px;
}

.content-list > div > div:nth-child(2) >div{
   width: 40%;
   border: 1px solid white;
   padding: 5px 5px;
}

.content-list > div > div:nth-child(2) >div:last-child{
   border-left: none;
}
.content-list > div > div:nth-child(2) >div:hover{
   font-weight: 600;
   cursor: pointer;
}

.content-list1{
   background: #2dbc8c url('http://localhost:8080/images/ico_set_renewmain202209_1.png') no-repeat;
    background-position: 10px 10px;
}
.content-list2{
   background-color: #15989f;
}
.content-list3{
   background-color: #0797c1;
}
.content-list4{
   background-color: #1360b6;
}

/* 게시글 작성 */
.home1{
   text-align: center;
   margin-top: 10px;
   font-size: large;
   width: 90%;
}

.home4{
   display: flex;
   justify-content: center;
   border: 1px solid gold;

}

.icon{
   font-size: 1.6rem;
   padding: 5px;
}

.icon:hover{
   color: #1360b6;
   cursor: pointer;
}

.home2{
   margin: 15px auto;
   text-align: center;
   width: 90%;
}

.home2>table{
   width: 100%;
}

.home2 td{
   text-align: center;
}

