.menu{
  width: 80vw;
  margin: 0 auto;
  height: 6vh;
}

.menu > .menu-ul{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
}

.menu > .menu-ul > li{
  border-bottom: 2px solid white;
  width: 150px;
  height: 100%;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > .menu-ul > li:hover{
  cursor: pointer;
  color:#55679C ;
  border-bottom: 2px solid #55679C;
}

/* ================ 밑 ================ */
.foot{
  background-color: #96a8ce;
}
.foot ul{
  display: flex;
  list-style: none;
}