.userLayout {
  display: flex;
  flex-direction: column;
}

.menu{
  width: 65vw;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.menu > .menu-ul{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu > .menu-ul > li{
  border-bottom: 4px solid white;
  width: 130px;
  height: 100%;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > .menu-ul > li:hover{
  cursor: pointer;
  color:#55679C ;
  border-bottom: 4px solid #55679C;
}

.menu .menu-icon{
  line-height: 75px;
  font-size: 2.2rem;
  margin-right: 20px;
  cursor: pointer;
}
.menu .menu-icon2{
  line-height: 75px;
  font-size: 1.8rem;
  margin-right: 20px;
  cursor: pointer;
}

.dropRelative{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.menu-dropdown {
  position: absolute; /* 드롭다운 위치를 절대적으로 설정 */
  margin: auto;
  background-color: white; /* 배경색 */
  border-top: 1px solid #dddddd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* 그림자 */
  z-index: 1000; /* 다른 요소들 위에 표시 */
  width: 100%;
}
.dropdown{
  width: 65vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px 0px;
}

/* 드롭다운이 열릴 때의 클래스 추가 */
.menu-dropdown.active {
  display: grid; /* 활성화 시 그리드로 표시 */
}

.menuTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-weight: 600;
  background: url('http://localhost:8080/images/dropmenu.png') no-repeat ;
  background-position: 160px calc(0% + 50px);
  background-size: 170px 150px;
  padding: 20px;
}

.dropdown-ul {
  border-left: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  padding: 10px;
}
.dropdown-ul:last-child {
  border-right: 1px solid #eeeeee;
}

.dropdown-ul li {
  padding: 0px 10px 0px 20px;
  cursor: pointer; /* 커서 변경 */
}

.dropdown-ul li:hover {
  color: #55679C;
  text-decoration-line: underline;
  text-underline-offset:3px ;
}

.fixItem{
  border-left: 1px solid #eeeeee;
  padding: 0px 20px 0px 20px;
}
.fixItem > div:first-child{
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.treatType{
  box-shadow: 1px 1px 3px gray;
  padding: 10px 13px;
  margin-bottom: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#525661 ;
  font-weight: 600;
  font-size: 17px;
  border-radius: 15px;
  /* background-color: rgb(240, 244, 245); */
  /* background-color: rgb(197, 230, 226); */
}
.treatType:hover{
  color:#41444b ;
  background-color: rgb(214, 222, 224);
  cursor: pointer;
  box-shadow: 1px 1px 3px gray;
}
.treatType img{
  border: 1px solid #7d88aa;
  border-radius: 17px;
  padding: 3px;
  margin-right: 20px;
  background-color: white;
}
.fix-search{
  border-radius: 15px;
  background-color: #a1abc7;
  padding: 12px 15px;
  border: none;
  color:#42464e;
  font-weight: 600;
}
.fix-search:hover{
  background-color: #929bb3;
  cursor: pointer;
  box-shadow: 1px 1px 3px gray;
}
.fix-search .fs{
  display: flex;
  /* border: 1px solid #7d88aa; */
  width: 90%;
  height: 30px;
  margin-top: 7px;
}
.fix-search .fs >input{
  border: 1px solid #7481a5;
  padding: 0px 5px;
}
.fix-search .fs >div{
  border-left: none;
  width: 55px;
  color: whitesmoke;
  text-align: center;
  line-height: 30px;
  font-size: 1.1rem;
  background-color: #7481a5;
}

/* ============================ 위치 서비스 */
.fixItem-navi{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  justify-content: space-evenly;
}
.fixItem-navi>div{
  text-align: center;
  color:#525661 ;
}
.fixItem-navi span{
  display: inline-block;
  font-size: 1.6rem;
  color: #7d88aa;
  border: 1px solid #7d88aa;
  border-radius: 100%;
  padding: 8px 11px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.fixItem-navi span:hover{
  color: #5d657e;
  border: 1px solid #5d657e;
  cursor: pointer;
  box-shadow: 1px 1px 3px lightgray;
}

.fixItem > img{
  width: 260px;
  cursor: pointer;
}

.fixItem > img:hover{
  box-shadow: 1px 1px 3px gray;
}


/* ================ 아울렛 ================ */
.outlet{
  width: 100%;
}
/* ================ 밑 ================ */
.foot {
  background-color: #96a8ce;
  width: 100%;
  padding: 20px 0px;
  color: white;
  font-size: 0.9rem;
}

.foot > div:first-child{
  border-bottom: 1px solid #7e90b6;
}

.foot ul {
  width: 65%;
  display: flex;
  text-align: center;
  margin: 10px auto;
}
.foot li{
  cursor: pointer;
  padding: 0px 10px;
  border-right: 1px solid white;
}
.foot li:last-child{
  border: none;
}
.foot li:hover{
  color: #eeeeee;
}
.footAddr{
  width: 65vw;
  margin: 10px auto;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: #eeeeee;
  letter-spacing: 2px;
}
.footAddr > div{
  margin-top: 5px;
  display: flex;
  gap: 20px;
}