.userLayout {
  display: flex;
  flex-direction: column;
}

.menu{
  width: 65vw;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.menu > .menu-ul{
  border: 1px dotted blue;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu > .menu-ul > li{
  border: 1px dotted;
  border-bottom: 4px solid white;
  width: 150px;
  height: 100%;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > .menu-ul > li:hover{
  cursor: pointer;
  color:#55679C ;
  border-bottom: 4px solid #55679C;
}

.menu .menu-icon{
  line-height: 65px;
  font-size: 2rem;
  margin-right: 20px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute; /* 드롭다운 위치를 절대적으로 설정 */
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white; /* 배경색 */
  border: 1px solid #dddddd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* 그림자 */
  z-index: 1000; /* 다른 요소들 위에 표시 */
  display: none; /* 기본적으로 숨김 처리 */
}

/* 드롭다운이 열릴 때의 클래스 추가 */
.menu-dropdown.active {
  display: grid; /* 활성화 시 그리드로 표시 */
}

.dropdown-ul {
  border-left: 1px solid #eeeeee;
}
.dropdown-ul:last-child {
  border-right: 1px solid #eeeeee;
}

.dropdown-ul li {
  padding: 10px; /* 항목 패딩 */
  cursor: pointer; /* 커서 변경 */
}

.dropdown-ul li:hover {
  background-color: #f0f0f0; /* 마우스 오버 색상 */
}


/* ================ 아울렛 ================ */
.outlet{
  width: 100%;
}
/* ================ 밑 ================ */
.foot {
  background-color: #96a8ce;
  width: 100%;
  padding: 20px 0px;
  color: white;
  font-size: 0.9rem;
}

.foot > div:first-child{
  border-bottom: 1px solid #7e90b6;
}

.foot ul {
  width: 65%;
  display: flex;
  text-align: center;
  margin: 10px auto;
}
.foot li{
  cursor: pointer;
  padding: 0px 10px;
  border-right: 1px solid white;
}
.foot li:last-child{
  border: none;
}
.foot li:hover{
  color: #eeeeee;
}
.footAddr{
  width: 65vw;
  margin: 10px auto;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: #eeeeee;
  letter-spacing: 2px;
}
.footAddr > div{
  margin-top: 5px;
  display: flex;
  gap: 20px;
}