/* ================ 레이아웃 잡기 ================ */

.home-div {
   display: flex;
   width: 100vw;
}

/* ================ 이미지 ================ */

.img{
   border: 1px dotted gray;
   height: 50vh;
   overflow: hidden;
}

/* ================ 내용 ================ */

.content{
   display: flex;
   width: 65vw;
   height: 30vh;
   margin: 30px auto;
   gap: 30px;
}
.content > div:first-child{
   border: 1px dotted ;
   width: 50%;
}
.content >div:last-child{
   width: 60%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
}

.content .content-list > div{
   box-shadow: 3px 3px 7px #cccccc;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content-list > div > div{
   display: flex;
   justify-content: center;
}

.content-list > div > div:first-child{
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 15px;
}

.content-list > div > div:nth-child(2) >div{
   width: 120px;
   border: 1px solid white;
   padding: 5px 5px;
}

.content-list > div > div:nth-child(2) >div:last-child{
   border-left: none;
}
.content-list > div > div:nth-child(2) >div:hover{
   font-weight: 600;
   cursor: pointer;
}

.content-list1{
   background-color: #2dbc8c;
}
.content-list2{
   background-color: #15989f;
}
.content-list3{
   background-color: #0797c1;
}
.content-list4{
   background-color: #1360b6;
}