.historyDiv{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.hisTitle{
  background-color: #dddddd;
  padding: 5px;
  font-size: 20px;
}
.historyDiv .hisContent{
  background-color: #bedce6;
  margin-bottom: 5px;
  margin: 5px;
}
.historyDiv .topContent{
  color: white;
  margin-top: 10px;
  background-color: #0797c1;
}
.hisContent .con{
  cursor: pointer;
}
.con{
  padding: 5px 10px;
  display: flex;
}
.con>div:first-child{
  width: 50%;
}

.hisContent:hover{
  background-color: #b5d1da;
}
.con span{
  display: inline-block;
  width: 80px;
}
.conTop span{
  display: inline-block;
  width: 110px;
}