.reserv-staff{
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.reserv-staff > .title{
  background-color: #0797c1;
  color: white;
  padding: 5px;
  font-size: 20px;
}

.reservStaff-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd; /*테두리 설정 */
}

.content-up{
  background-color: #eeeeee;
  height: 50%;
  display: flex;
  border-bottom: 1px solid #7e969e;
}

/* ================== 예악하기 ================== */
.content-up .reservList{
  background-color: #f5f5f5; /* 배경색 설정 */
  border-right: 1px solid #7e969e; /* 오른 테두리 설정 */
  width: 50%;
}
.resList-title{
  font-weight: bold;
}

.resList-title span{
  font-weight: 600;
  color: darkblue;
}

.content-up .reservList > div:first-child{
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  padding: 10px;
}

.resUserList{
  overflow-y: scroll;
  height: 335px;
}
.resUserList-table{
  width: 100%;
  text-align: center;
}
.resUserList-table > thead{
  background-color: #067da1;
  color: white;
  font-weight: bold;
  border-bottom: 4px double #7e969e ;
  position: sticky;
  top: 0;
}
.resUserList-table thead td{
  padding: 10px 0px;
}
.resUserList-table td{
  border: 1px solid #dddddd ;
  border-top: none;
  border-bottom: none;
  border-left: none;
  text-align: center;
  padding: 12px 0px;
}

.resUserList-table tbody tr:nth-child(odd){
  background-color: white;
}
.resUserList-table tbody tr:hover{
  background-color: rgb(245, 229, 223);
  cursor: pointer;
}

.highlight {
  background-color: rgb(245, 229, 223) !important; /* 원하는 색상으로 설정 */
}

.resUserList-table tbody td{
  padding: 10px 0px;
}

/* ================== 예악정보 수정 ================== */

.content-up .updateReserv{
  background-color: #f5f5f5; /* 배경색 설정 */
  width: 50%;
}

.content-up .updateReserv> div:first-child{
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  padding: 10px;
}

.updateReserv .resList-btn{
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.updateReserv button{
  padding: 1px 6px;
  cursor: pointer;
}

.updateRes-table{
  width: 90%;
  margin: 30px 20px;
}
.updateRes-table input{
  width: 100%;
  border: 1px solid lightslategray;
  padding: 4px 5px;
  border-radius: 5px;
}

.updateRes-table td{
  padding: 15px 0px;
  /* border: 1px solid; */
}
.updateRes-table td:nth-child(odd){
  text-align: center;
}

/* ================== 예약리스트 ================== */
.content-down{
  background-color: rgb(228, 234, 243);
  height: 50%;
}
.content-down > div:first-child{
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  padding: 10px;
}