.mypage-div{
  display: flex;
  align-items: start;
  gap: 12px;
}

.mypage-div > div:nth-child(1){
  width: 10%;
  background-color: #f4f4f4;
  padding: 20px;
}

.mypage-div > div:nth-child(2){
  width: 90%;

}
.mypage-div li{
  cursor: pointer;
  margin: 10px 0px;
}
.mypage-div li:hover{
  color: rgb(88, 88, 88);
}
.mypage-div h2{
  margin-bottom: 20px;
  cursor: default;
}

