.addChartBack{
  margin: 20px auto;
  width: 90%;
  height: 880px;
  padding-top: 30px;
  background-color: #dddddd;
  border-radius: 15px;
  border-top-left-radius: 0;
  box-shadow: 3px 3px 5px gray;
}
.addChart{
  width: 90%;
  border: 1px solid #7e969e;
  background-color: #e8f0f3;
  margin: 0 auto;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px gray;
}
.addChart>.addContent{
  margin: 20px auto;
  display: flex;
  font-size: 25px;
  width: 80%;
}
.addChart input{
  font-size: 20px;
  vertical-align: middle;
  border: 2px solid #7e969e;
  border-radius: 5px;
  width: 200px;
  margin-left: auto;
  padding: 5px;
}
.cM>input{
  width: 150px !important;
}
.addChart>.addContent>div:first-child{
  width: 50%;
}
.addContent span{
  width: 150px;
  display: inline-block;
}
.addContent div:first-child>span{
  width: 110px;
  display: inline-block;
}
.topTitle{
  font-size: 30px;
  text-align: center;
  background-color: #1aa6d1;
  color: white;
  padding: 5px;

}
.addTitle{
  font-size: 25px;
  padding: 5px;
  margin-bottom: 40px;
  padding-left: 10px;
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  width: 100%;
}
.address{
  width: 100% !important;
}
.address>input{
  width: 400px;
}
.title2{
  margin-top: 40px;
}
.addChartBtn{
  width: 150px;
  font-size: 20px;
  margin: 40px 43%;
  background-color: #0797c1;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: none; /* 버튼 테두리 제거 */

}

.addChartBtn:hover {
  background-color: #067da1;
  color: #eeeeee;
}

.addContent select{
  font-size: 25px;
  border: 1px solid #7e969e;
  width: 200px;
  cursor: pointer;
}
