.adminLayout > div:first-child{
  height: 90vh;
}
.adminLayout-content{
  display: flex;
}

.side-menu{
  border: 1px dotted;
  width: 20%;
  display: flex;
}

.side-menu li{
  list-style: none;
  display: flex;
}

.main-menu {
  width: 80%;
}