   /*  toolbar container */
   .fc .fc-toolbar.fc-header-toolbar {
      margin: 0px;
      padding: 0px 20px 0px 40px;
      background-color: #0797c1;
      height: 50px;
      font-weight: 600;
      font-size: 12px;
      color: white;
      border-radius: 5px 5px 0px 0px;
   }

   /*  toolbar 버튼 */
   .fc .fc-button-primary {
      background-color: transparent;
      border: none;
   }
   .fc .fc-button-primary:hover {
      background-color: transparent;
   }
   .fc .fc-button-primary:hover:not(:disabled) {
      color: #1a4d7b;
      }

   .fc .fc-button-primary span {
      font-weight: 500;
      font-size: 28px;
   }
   .fc-today-button.fc-button.fc-button-primary {
      background-color: #0e86aa;
   }

   .fc-button.fc-button-primary:active {
      background-color: #0e7ba5;
   }

   /*  요일 부분 */
   .fc-theme-standard th {
      height: 30px;
      padding-top: 3.5px;
      background-color: #e2f9fa;
      font-weight: 500;
      font-size: 14px;
      color: #7b7b7b;
   }

   .fc-daygrid-day-number {
      color: #999999;
   }
   
      /* 주말 색상 변경 */
      .fc-day-sun a { color: #e97e7e; }
      .fc-day-sat a { color: #7e7edb; }

   /*  오늘 날짜 배경색 */
   .fc .fc-daygrid-day.fc-day-today {
      background-color: #fffded;
      font-weight: 800;
   }

   /*  날짜별 그리드 */
   .fc .fc-daygrid-day-frame {
      padding: 10px;
   }
   .fc .fc-daygrid-day-frame:hover {

      background-color: #f0f0f0;
   }

   /*  날짜  ex) 2일 */
   .fc .fc-daygrid-day-top {
      flex-direction: row;
      margin-bottom: 3px;
   }

   /*  각 이벤트 요소 */
   .fc-event {
      cursor: pointer;
      padding: 2px 3px;
      margin-bottom: 3px;
      border-radius: 4px;
      font-weight: 400;
      font-size: 12px;
   }
   .fc-event-title-container {
      color: #ffffff;
      
   }

   .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
      padding: 0px 2px;
   }