/* 페이지 기본 틀 */
.chart {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 높이 */
}

/* 당일 예약 환자 칸 */
.chart .todayReg {
  height: 50vh; 
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* 배경색 설정 */
  border: 1px solid #ddd; /* 테두리 설정 */
}

/* 오늘 예약 환자 내용 */
.chart .todayRegContent {
  overflow-y: auto; /* 세로 스크롤 허용 */
  padding: 13px 10px;
  font-size: 15px;
  border-bottom: 1px solid #7e969e;
  background-color: #e8f0f3;
}

/* 버튼 스타일 */
.chart .todayTop button {
  background-color: #0797c1;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: none; /* 버튼 테두리 제거 */
}

.chart .todayTop button:hover {
  background-color: #067da1;
  color: #eeeeee;
}

/* 오늘 예약 환자 상단 */
.chart .todayTop {
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chart .title {
  border: 1px solid;
  background-color: #0797c1;
  color: white;
  padding: 5px;
  font-size: 20px;
}

/* Main Chart Container */
.chart .mainChart {
  display: flex;
  flex: 1; /* 남은 공간을 채우도록 설정 */
  overflow: hidden; /* 스크롤바가 필요한 경우 나타나도록 설정 */
}

.chart .chartLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 스크롤바가 필요할 경우 자식 요소에 적용 */
}

.chart .todayReg {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 자식 요소에 스크롤바 적용 */
}

.chart .adminChat {
  border-top: 1px solid #7e969e;
  border-bottom: 1px solid #7e969e;
  height: 35vh; /* 높이 설정 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 자식 요소에 스크롤바 적용 */
}

.chart .medTreat {
  width: 55%; /* 너비 조정 */
  display: flex;
  flex-direction: column;
  border-left: 1px solid #7e969e;
  height: 100%;
  overflow: hidden; /* 자식 요소에 스크롤바 적용 */
}

/* 버튼 디자인 */
.chart button {
  background-color: #0797c1;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.chart button:hover {
  background-color: #067da1;
  color: #eeeeee;
}

/* 당일 예약 환자 */
.todayRegContent {
  overflow-y: auto; /* 세로 스크롤 허용 */
  padding: 13px 10px;
  font-size: 15px;
  border-bottom: 1px solid #7e969e;
  background-color: #e8f0f3;
}

.todayRegContent span {
  color: #7e969e;
  cursor: pointer;
  padding-right: 5px;
}

.divFSec span:hover {
  color: #067da1;
}

.todayReg .divF {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.todayReg .divFSec {
  display: flex;
  justify-content: space-between;
}

.divFSec button {
  font-size: 13px;
}

/* 환자 검색 */
.searchMem {
  flex: 1; /* 남은 공간을 채우도록 설정 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 자식 요소에 스크롤바 적용 */
}

.searchTitle {
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
  padding: 10px 5px;
}

.searchContent {
  flex: 1; /* 남은 공간을 채우도록 설정 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  border-bottom: 1px solid #7e969e;
  border-left: 1px solid #7e969e;
}

.searchMem .searchResult {
  background-color: #e8f0f3;
  font-size: 15px;
  border-bottom: 1px solid #7e969e;
  padding: 10px 5px;
  word-wrap: break-word;
}

.searchMem .searchTitle span {
  font-size: 18px;
  margin: 5px;
}

.search input {
  font-size: 13px;
  width: 250px;
}

.search button {
  margin-left: 10px;
  padding: 5px 10px;
}

.searchResult {
  padding: 10px 5px;
}

.searchResult div span:first-child {
  width: 50%;
  display: inline-block;
}

.searchResult span {
  font-size: 18px;
  margin-bottom: 8px;
}

.searchResult button {
  margin-left: 10px;
}

/* 진료 환자 */
.medTreat {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid #7e969e;
}

.medTop {
  height: 35px;
  width: 100%;
  background-color: #bedce6;
  border-bottom: 1px solid #7e969e;
}

.trContent {
  flex: 1; /* 남은 공간을 채우도록 설정 */
  overflow-y: auto; /* 세로 스크롤 허용 */
}

.treatContent {
  padding: 13px 10px;
  font-size: 15px;
  border-bottom: 1px solid #7e969e;
  background-color: #e8f0f3;
}

.treatContent div {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.treatContent .divTrF {
  padding-bottom: 10px;
}

.clickDetail {
  cursor: pointer;
}

.clickDetail:hover {
  color: #067da1;
}

.botBut {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.botBut button {
  margin-left: 10px;
}
