.historyDiv{
  width: 100%;
  height: 100%;
}
.hisTitle{
  border: 1px solid;
  background-color: #0797c1;
  color: white;
  padding: 5px;
  font-size: 20px;
}
.hisContent{
  background-color: #bedce6;
  margin-bottom: 5px;
}
.conTop, .conMid ,.conBot{
  cursor: pointer;
  width: 80%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.hisContent button{
  margin: 10px;
  position: relative;
  right: -90%;
}