/* ============ 레이아웃 잡기 ============ */
.staff-manage-div {
   width: 100%;
   height: 100%;
}

.calendar-div {
   height: 100%;
   padding: 10px;
}

.calendar {
   height: 100%;
}

/* ============== 모달 창 ============= */
/* 모달 통합 */
.event-modal-div {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 10px 50px;
   /* background-color: aquamarine; */
}

/* 등록 폼 */
.input-form input, .input-form textarea {
   width: 100%;
   padding: 5px;
}

.isAll {
   display: inline-block;
   width: 10px !important;
   background-color: antiquewhite;
   margin-left: 10px;
}

.input-form td, .detail-table td {
   padding: 5px;
   vertical-align: middle;
}

.input-form td {
   text-align: right;
}

/* 조회 테이블 */
.detail-table td:not(:nth-child(1)) {
   text-align: left;
}