.act_3 >div:nth-child(2){
  width: 80%;
  margin: auto;
  padding: 20px 10px;
}
.reservCalendar{
  width: 100%;
  margin: auto;
}
.react-datepicker{
  width: 100%;
}
.react-datepicker__month-container{
  width: 100%;
}
.react-datepicker__header{
  background-color:rgb(153, 173, 192) ;
}
.react-datepicker__day-name{
  color: rgb(78, 78, 78);
}

.reservCalendar .react-datepicker__day.react-datepicker__day--weekend{
  color: red;
}

/* ================ 시간 설정 ================ */
.reservTime{
  width: 100%;
  margin: auto;
}
.reservTime .time-div{
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.time-div input{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.time-div .time{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 27px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: #FAFAFA;
  margin: 4px;
  text-align: center;
}