/* ================ ReserveHome.js ================ */
.reserv-container{
  margin: auto;
  padding: 30px 0px;
  width: 1100px;
  display: flex;
}

#sidebar{
  width: 200px ;
  
}
#sidebar > div{
  height: 110px;
  background-color: #55679C;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 110px;
}

#sidebar > ul{
  border: 1px solid lightgray;
  border-bottom: none;
}
#sidebar > ul >li{
  border-bottom: 1px solid lightgray;
  padding: 10px 15px;
}

.reserv-content{
  background-color: #eeeeee;
  width: 100%;
  margin: auto;
  padding: 30px;
  margin-left: 20px;
}

/* ================ Reservation.js ================ */
.reservation >div:first-child{
  font-size: 1.5rem;
  padding-left: 10px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: rgb(68, 67, 67);
}

.explain{
  width: 100%;
  background-color: #dddddd;
  font-size: 0.9rem;
  word-spacing: 1px;
  padding: 20px ;
  line-height: 21px;
}

.explain > div{
  color: #085a99;
  font-weight: 600;
  margin-bottom: 2px;
}
.explain > ul{
  list-style: circle;
  margin-left: 25px;
  color: rgb(71, 71, 71);
  font-size: 0.87rem;
}
.explain span{
  color: rgb(207, 3, 3);
  font-weight: 600;
}

.act{
  display: grid;
  grid-template-columns: 20% 40% 40%;
  margin-top: 15px;
  gap: 3px;
}
.act > div{
  background-color: white;
  border: 1px solid lightgray;
}
.reserv-title{
  width: 90%;
  margin: auto;
  font-size: 1.1rem;
  border-bottom: 1px solid gray;
  padding: 20px 0px 10px 0px;
}

.act_1 .reserv-title{
  width: 80%;
}
.act .reserv-part{
  padding: 20px;
}

.act .part{
  text-align: center;
  width: 110px;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  border: 1px solid #a7b6da;
  color: #5e6474;
  border-radius: 5px;
}

.act .part.selected{
  border: 2px solid #6c7791;
  color:#5b6681 ;
  font-weight: bold;
}

.reserv-doctor{
  padding: 20px;
}

.reserv-doctor >div{
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 5px lightgray;
}

.reserv-doctor .img{
  width: 40%;
  border: none;
}


.reserv-doctor .img > img {
  width: 100%;
  height: 100%;
  object-position: center center;
}

.reserv-doctor .doctor{
  margin-bottom: 10px;
}

.reserv-doctor .doctor.selected{
  border: 1px solid #5c84e2;
  color:#5b6681 ;
  font-weight: bold;
}

.reserv-doctor .doctorInfo{
  padding: 15px;
  font-size: 0.9rem;
}

.reserv-doctor .doctorInfo >div:first-child{
  font-weight: 600;
  color: rgb(124, 124, 124);
  margin-bottom: 5px;
}

/* =========== reservInfo =========== */

.reservInfo{
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 15px;
  font-size: 0.9rem;
}

.reservInfo > div{
  margin-bottom: 10px;
}
.reservInfo span{
  font-weight: 600;
  letter-spacing: 4px;
  color: #5b6681;
}

.reservInfo .form{
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 7px;
  font-size: 0.8rem;
  border: 1px solid lightslategray;
}

.reservInfo .form::placeholder{
  color: #cccccc;
}

.reservInfo .area{
  height: 70px;
  width: 100%;
}

/* =========== 개인정보 =========== */

.privacyAgree{
  width: 100%;
}

.privacyAgree .reserv-title{
  font-size: 1rem;
  width: 98%;
  margin-top: 20px;
  border-bottom: 1px solid #cccccc;
}

.clauseWrap {
  overflow-x: hidden;
  overflow-y: auto;
  height: 170px;
  margin-top: 20px;
  padding: 20px 40px;
  color: #666;
  line-height: 22px;
  border: 1px solid #dbdbdb;
  background: #fff;
}
.clauseWrap li, .clauseWrap p {
  margin-top: 5px;
}

.S_ContBox {
  font-size: 0.8rem;
  font-weight: 300;
  color: #666669;
  line-height: 24px;
}

.S_ContBox .S_Cont .cBox {
  border-bottom: 1px solid #e5e5ec;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.S_ContBox .S_Cont .cBox_top p {
  margin-bottom: 15px;
}

.S_ContBox .S_Cont .cBox_top img {
  width: 40px;
}

.label_style {
  width: 100%;
  margin-bottom: 10px;
}

.label_style thead {
  border-top: 2px solid #096cb8;
  font-size: 0.9rem;
  color: #333339;
  line-height: 22px;
  background: rgb(240, 246, 250);
}

.label_style thead tr th, .label_style tbody tr td {
  text-align: center;
  padding: 12px 10px !important;
}

.label_style tbody tr td {
  text-align: center;
  padding: 20px 10px !important;
}

.label_style tbody {
  background: #fff;
}

.S_ContBox .S_Cont .cBox .cBtit {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #096cb8;
}

.S_ContBox .S_Cont .cBox_top .cBlist {
  border: 1px solid #e5e5ec;
  padding: 15px;
}

.S_ContBox .S_Cont .cBox p, .S_ContBox .S_Cont .cBox ol {
  margin: 12px 0;
}

.txtTitSt {
  font-size: 0.9rem;
  font-weight: normal;
  color: #333339;
  line-height: 22px;
}

.txtTitSt > img {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
  vertical-align: middle;
}

.S_ContBox p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.tableStA {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 1px solid #d8dbe0;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.tableStA thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.tableStA thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.tableStA thead tr th {
  height: 18px;
  padding: 15px 0 13px;
  font-weight: 400;
  color: #444449;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  border: 1px solid #d8dbe0;
  border-bottom: 1px solid #a1a1a3;
  background: #f0f0f5;
}

.tableStA tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.tableStA tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  word-break: break-all;
}

.tableStA tbody tr td {
  height: 18px;
  padding: 11px;
  line-height: 24px;
  font-weight: 300;
  color: #555559;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d8dbe0;
}


.agreeChk02 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 0.8rem;
}

.point07 {
  color: #e71b0c !important;
  font-size: 0.8rem;
}

.mgt20 {
  margin-top: 20px !important;
}

.inputChk {
  width: 13px;
  height: 12px;
  margin: 0 5px;
  vertical-align:middle;
}