<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Team3.board.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="STAFF_NUM" property="staffNum"/>
        <result column="BOARD_DATE" property="boardDate"/>
    </resultMap>

<!--    게시글 목록 조회-->
    <select id="boardList" resultMap="board">
        SELECT BOARD_NUM
        , BOARD_TITLE
        , DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') AS BOARD_DATE
        FROM HOS_BOARD
    </select>

<!--    글(공지사항) 상세보기 -->
    <select id="getNoticeDetail" resultMap="board">
        SELECT BOARD_NUM
        , BOARD_TITLE
        , BOARD_CONTENT
        , BOARD_DATE
        FROM HOS_BOARD
        WHERE BOARD_NUM=#{boardNum}
    </select>

    <insert id="insertBoard">
        INSERT INTO HOS_BOARD (
        BOARD_TITLE
        ,BOARD_CONTENT
        ,STAFF_NUM
        ) VALUES (
        #{boardTitle}
        ,#{boardContent}
        ,#{staffNum}
        );
    </insert>
</mapper>































