<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chartMapper">
    <resultMap id="chart" type="com.green.Team3.chart.vo.ChartVO">
        <id column="CHART_NUM" property="chartNum"/>
        <result column="IS_NOW" property="isNow"/>
        <collection property="resMemList" resultMap="resMapper.res"/>
    </resultMap>

    <resultMap id="history" type="com.green.Team3.history.vo.HistoryVO">
        <id column="HIS_NUM" property="hisNum"/>
        <result column="ILL_NAME" property="illName"/>
        <result column="ILL_DETAIL" property="illDetail"/>
        <result column="MEM_NUM" property="memNum"/>
        <result column="STAFF_NUM" property="staffNum"/>
        <result column="RES_NUM" property="resNum"/>
        <result column="PART_NUM" property="partNum"/>
        <result column="CHART_NUM" property="chartNum"/>
        <collection property="memberList" resultMap="memberMapper.member"/>
        <collection property="staffList" resultMap="staffMapper.staff"/>
        <collection property="resList" resultMap="resMapper.res"/>
        <collection property="partList" resultMap="staffMapper.part"/>
        <collection property="chartList" resultMap="chartMapper.chart"/>
    </resultMap>

    <!--당일 예약 환자 리스트 조회-->
    <select id="selectMemChart" resultMap="chart">
        SELECT CHART_NUM, IS_NOW, C.MEM_NUM, MEM_NAME, MEM_BIRTH, MEM_TEL, MEM_GEN, RES_TIME
        FROM HOS_CHART C, HOS_RES R, HOS_MEMBER M
        WHERE IS_NOW = 'N'
        AND C.MEM_NUM = R.MEM_NUM
        AND C.MEM_NUM = M.MEM_NUM;
    </select>

    <!--진료 환자 리스트 조회-->
    <select id="getIsNowMemChart" resultMap="chart">
        SELECT CHART_NUM, IS_NOW, C.MEM_NUM, MEM_NAME, MEM_BIRTH, MEM_TEL, MEM_GEN, RES_TIME, RES_NUM, P.PART_NUM, PART_NAME, STAFF_NAME, S.STAFF_NUM
        FROM HOS_CHART C, HOS_RES R, HOS_MEMBER M, HOS_STAFF S, HOS_PART P
        WHERE IS_NOW = 'Y'
        AND C.MEM_NUM = R.MEM_NUM
        AND C.MEM_NUM = M.MEM_NUM
        AND P.PART_NUM = S.PART_NUM
        AND P.PART_NUM = R.PART_NUM
        AND S.STAFF_NUM = R.STAFF_NUM;
    </select>

    <!--당일 예약 환자 -> 진료환자로 변경-->
    <update id="changeIsNow">
        UPDATE HOS_CHART
            SET
                IS_NOW = 'Y'
        WHERE CHART_NUM = #{chartNum};
    </update>

    <!--진료환자 삭제버튼-->
    <update id="delIsNow">
        UPDATE HOS_CHART
            SET
                IS_NOW = 'NN'
        WHERE CHART_NUM = #{chartNum};
    </update>

    <!--환자 이름 누르면 디테일 들어가기-->
    <select id="selectHis" resultMap="history">
        SELECT HIS_NUM, C.CHART_NUM, RES_TIME, ILL_NAME, ILL_DETAIL, R.MEM_NUM, P.PART_NUM, PART_NAME, STAFF_NAME, S.STAFF_NUM, MEM_NAME
        FROM HOS_HISTORY H, HOS_CHART C, HOS_RES R, HOS_STAFF S, HOS_PART P, hos_member M
        WHERE R.RES_NUM = H.RES_NUM
        AND C.MEM_NUM = R.MEM_NUM
        AND S.STAFF_NUM = R.STAFF_NUM
        AND P.PART_NUM = R.PART_NUM
        AND M.MEM_NUM = R.MEM_NUM
        AND R.MEM_NUM = #{memNum}
        ORDER BY HIS_NUM DESC;
    </select>

    <!--차트 수정시 환자 정보-->
    <select id="reviseInfo" resultMap="chart">
        SELECT CHART_NUM, M.MEM_NUM, MEM_NAME, MEM_BIRTH
        FROM HOS_CHART C, HOS_MEMBER M
        WHERE C.MEM_NUM = M.MEM_NUM
        AND M.MEM_NUM = #{memNum};
    </select>

    <!-- 차트 정보 업데이트 -->
    <update id="updateChart">
        UPDATE HOS_CHART
        SET
        IS_NOW = #{isNow}
        WHERE
        CHART_NUM = #{chartNum}
    </update>

    <!-- 차트 정보 업데이트 -->
    <update id="updateHistory">
        UPDATE HOS_HISTORY
        SET
        ILL_NAME = #{illName},
        ILL_DETAIL = #{illDetail},
        PART_NUM = #{partNum},
        STAFF_NUM = #{staffNum}
        WHERE
        CHART_NUM = #{chartNum}
    </update>

    <!-- 차트 등록 -->
    <insert id="insertChart">
        INSERT INTO HOS_CHART(MEM_NUM, IS_NOW)
        VALUES(#{memNum}, #{isNow});
    </insert>

    <!-- 병명 차트에 등록 -->
    <insert id="insertHis">
        INSERT INTO HOS_HISTORY(MEM_NUM, ILL_NAME, ILL_DETAIL, STAFF_NUM, RES_NUM, PART_NUM, CHART_NUM)
        VALUES(#{memNum}, #{illName}, #{illDetail}, #{staffNum}, #{resNum}, #{partNum}, #{chartNum});
    </insert>








</mapper>
