<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
	<resultMap id="member" type="com.green.Team3.member.vo.MemberVO">
        <id column="MEM_NUM" property="memNum"/>
        <result column="MEM_NAME" property="memName"/>
        <result column="MEM_BIRTH" property="memBirth"/>
        <result column="MEM_TEL" property="memTel"/>
        <result column="MEM_ADDR" property="memAddr"/>
        <result column="MEM_ID" property="memId"/>
        <result column="MEM_PW" property="memPw"/>
        <result column="MEM_GEN" property="memGen"/>
    </resultMap>

<!--        회원 가입 -->
        <insert id="join">
                INSERT INTO HOS_MEMBER (
                MEM_ID,
                MEM_PW,
                MEM_NAME,
                MEM_BIRTH,
                MEM_TEL,
                MEM_ADDR,
                MEM_GEN
                ) VALUES (
                #{memId},
                #{memPw},
                #{memName},
                #{memBirth},
                #{memTel},
                #{memAddr},
                #{memGen}
                )
        </insert>

<!--        아이디 중복 확인-->
        <select id="isDuplicate" resultType="String">
                SELECT MEM_ID
                FROM HOS_MEMBER
                WHERE MEM_ID=#{memId};
        </select>

<!--    로그인 -->
        <select id="login" resultMap="member">
        SELECT MEM_ID, MEM_NAME, MEM_NUM
                FROM HOS_MEMBER
                WHERE MEM_ID=#{memId}
                AND MEM_PW=#{memPw}
        </select>

<!--    마이페이지- 개인정보 수정화면 띄우는 쿼리-->
    <select id="getInfo" resultMap="member">
        SELECT MEM_NUM
        , MEM_NAME
        , MEM_TEL
        , MEM_ADDR
        FROM HOS_MEMBER
        WHERE MEM_ID = #{memId}
    </select>

<!--    개인정보 수정하기-->
    <update id="update">
        UPDATE HOS_MEMBER
        SET
        MEM_TEL=#{memTel},
        MEM_ADDR=#{memAddr}
        WHERE MEM_ID=#{memId}
    </update>

</mapper>































