<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderItemMapper">
    <resultMap id="orderItem" type="com.green.Team3.orderItem.vo.OrderItemVO">
        <id column="ORDER_ITEM_NUM" property="orderItemNum"/>
        <result column="QUANTITY" property="quantity"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="DELIVER_STATE" property="deliverState"/>
        <association property="supVO" resultMap="supMapper.sup"/>
        <association property="productTypeVO" resultMap="supMapper.productType"/>
        <association property="supProductVO" resultMap="supMapper.supProduct"/>
    </resultMap>

    <!-- 구입항목 가져오기 -->
    <select id="selectOrderItem" resultMap="orderItem">
        SELECT * FROM HOS_ORDER_ITEM O, HOS_SUP S, PRODUCT_TYPE T, SUP_PRODUCT SP
        WHERE O.PRODUCT_NUM = SP.PRODUCT_NUM
        AND SP.SUP_NUM= S.SUP_NUM
        AND SP.TYPE_NUM = T.TYPE_NUM
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchType} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
        ORDER BY O.ORDER_DATE DESC;
    </select>

    <!-- 상품 타입별 총 금액 -->
    <select id="totalOrderAmount" resultMap="orderItem">
        SELECT T.TYPE_NAME, SUM(I.QUANTITY * P.PRICE) AS TOTAL_AMOUNT
        FROM HOS_ORDER_ITEM I, PRODUCT_TYPE T, SUP_PRODUCT P
        WHERE I.PRODUCT_NUM = P.PRODUCT_NUM
        AND T.TYPE_NUM = P.TYPE_NUM
        AND MONTH(I.ORDER_DATE) = MONTH(CURRENT_DATE())
        AND YEAR(I.ORDER_DATE) = YEAR(CURRENT_DATE())
        GROUP BY T.TYPE_NAME;
    </select>



</mapper>































