<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="qnaMapper">
    <resultMap id="q" type="com.green.Team3.q.vo.QVO">
        <id column="Q_NUM" property="qNum"/>
        <result column="Q_TITLE" property="qTitle"/>
        <result column="MEM_NUM" property="memNum"/>
        <result column="Q_CONTENT" property="qContent"/>
        <result column="Q_DATE" property="qDate"/>
        <association property="a" resultMap="a"/>
        <association property="member" resultMap="memberMapper.member"/>

    </resultMap>

    <resultMap id="a" type="com.green.Team3.a.vo.AVO">
        <id column="A_NUM" property="aNum"/>
        <result column="A_CONTENT" property="aContent"/>
        <result column="A_DATE" property="aDate"/>
        <result column="Q_NUM" property="qNum"/>

        <association property="staff" resultMap="staffMapper.staff"/>
    </resultMap>

<!--    문의한 글 목록 조회-->
    <select id="qnaList" resultMap="q">
        SELECT Q_NUM
        , Q_TITLE
        , Q_DATE
        FROM HOS_Q
        WHERE MEM_NUM=#{memNum}
        ORDER BY Q_NUM DESC
    </select>

</mapper>































