<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="recMapper">
	<resultMap id="rec" type="com.green.Team3.rec.vo.RecVO">
        <id column="REC_NUM" property="recNum"/>
        <result column="REC_DATE" property="recDate"/>
        <result column="IS_REC" property="isRec"/>
        <result column="REC_STATUS" property="recStatus"/>
        <result column="REC_DETAIL" property="recDetail"/>
        <result column="PATIE_NUM" property="patieNum"/>
        <result column="STAFF_NUM" property="staffNum"/>
        <association property="staffVO" resultMap="staffMapper.staff" />
        <association property="patieVO" resultMap="patieMapper.patie" />
    </resultMap>



</mapper>































