<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="recMapper">
	<resultMap id="rec" type="com.green.Team3.rec.vo.RecVO">
        <id column="REC_NUM" property="recNum"/>
        <result column="REC_DATE" property="recDate"/>
        <result column="IS_REC" property="isRec"/>
        <result column="REC_STATUS" property="recStatus"/>
        <result column="REC_DETAIL" property="recDetail"/>
        <result column="PATIE_NUM" property="patieNum"/>
        <result column="STAFF_NUM" property="staffNum"/>
        <association property="staffVO" resultMap="staffMapper.staff" />
        <association property="patieVO" resultMap="patieMapper.patie" />
    </resultMap>

    <insert id="insertRec">
            INSERT INTO HOS_REC(REC_DATE, IS_REC, REC_STATUS, REC_DETAIL, PATIE_NUM, STAFF_NUM)
            VALUES(NOW(), 'N', '대기', #{recDetail}, #{patieNum}, #{staffNum})
    </insert>

    <!--대기환자 리스트-->
    <select id="selectWaitPatie" resultMap="rec">
        SELECT REC_NUM, REC_DATE,  DATE_FORMAT(REC_DATE, '%Y-%m-%d %H:%i'), IS_REC, REC_STATUS, REC_DETAIL, P.PATIE_NUM,
        S.STAFF_NUM, PATIE_NAME, PATIE_BIRTH, PATIE_GEN, A.PART_NUM, PART_NAME, STAFF_NAME, S.STAFF_NUM
        FROM HOS_REC R, HOS_PATIE P, HOS_STAFF S, HOS_PART A
        WHERE REC_STATUS = '대기'
        AND R.PATIE_NUM = P.PATIE_NUM
        AND R.STAFF_NUM = S.STAFF_NUM
        AND A.PART_NUM=S.PART_NUM
        ORDER BY REC_DATE;
    </select>

    <!--진료 환자 리스트-->
    <select id="selectIngPatie" resultMap="rec">
        SELECT REC_NUM, REC_DATE,  DATE_FORMAT(REC_DATE, '%Y-%m-%d %H:%i'), IS_REC, REC_STATUS, REC_DETAIL, P.PATIE_NUM,
        S.STAFF_NUM, PATIE_NAME, PATIE_BIRTH, PATIE_GEN, A.PART_NUM, PART_NAME, STAFF_NAME, S.STAFF_NUM
        FROM HOS_REC R, HOS_PATIE P, HOS_STAFF S, HOS_PART A
        WHERE REC_STATUS = '진료'
        AND R.PATIE_NUM = P.PATIE_NUM
        AND R.STAFF_NUM = S.STAFF_NUM
        AND A.PART_NUM=S.PART_NUM
        ORDER BY REC_DATE;
    </select>

    <!--진료환자 변경 버튼-->
    <update id="updateStatus">
        UPDATE HOS_REC
        SET
        REC_STATUS = '진료'
        WHERE REC_NUM = #{recNum};
    </update>

    <!--진료완료 버튼-->
    <update id="endStatus">
        UPDATE HOS_REC
        SET
        REC_STATUS = '끝'
        WHERE REC_NUM = #{recNum};
    </update>

    <select id="selectHis" resultMap="rec">
        SELECT *
        FROM HOS_REC R, HOS_STAFF S, HOS_PART A, HOS_PATIE P
        WHERE P.PATIE_NUM=R.PATIE_NUM
        AND s.STAFF_NUM = R.STAFF_NUM
        AND A.PART_NUM = s.PART_NUM
        AND P.PATIE_NUM= #{patieNum}
        ORDER BY REC_DATE DESC;
    </select>

    <select id="selectRevise" resultMap="rec">
        SELECT *
        FROM HOS_REC R, HOS_STAFF S, HOS_PART A, HOS_PATIE P
        WHERE P.PATIE_NUM=R.PATIE_NUM
        AND s.STAFF_NUM = R.STAFF_NUM
        AND A.PART_NUM = s.PART_NUM
        AND P.PATIE_NUM= #{patieNum}
        AND REC_NUM= #{recNum};
    </select>

    <update id="updateRevise">
        UPDATE HOS_REC
        SET
        REC_DETAIL = #{recDetail},
        STAFF_NUM = #{staffNum},
        REC_STATUS = #{recStatus}
        WHERE REC_NUM= #{recNum}
        AND PATIE_NUM = #{patieNum};
    </update>

    <!--대기환자 삭제-->
    <delete id="delRec">
        DELETE FROM HOS_REC
        WHERE REC_NUM = #{recNum};
    </delete>

<!-- ============== 환자관리 예약 페이지 ==============   -->
    <!-- 당일 예약리스트 조회 -->
    <select id="selectTodayRec" resultMap="rec">
        SELECT REC_NUM,
            DATE_FORMAT(REC_DATE, '%H:%i') REC_DATE,
            IS_REC,
            REC_STATUS,
            REC_DETAIL,
            P.PATIE_NUM,
            S.STAFF_NUM,
            PATIE_NAME,
            PATIE_BIRTH,
            PART.PART_NUM,
            PART_NAME,
            STAFF_NAME
        FROM HOS_REC R, HOS_PATIE P, HOS_STAFF S, HOS_PART PART
        WHERE IS_REC = 'Y'
        AND REC_STATUS = '대기'
        AND DATE(REC_DATE) = CURDATE()
        AND R.PATIE_NUM = P.PATIE_NUM
        AND R.STAFF_NUM = S.STAFF_NUM
        AND PART.PART_NUM = S.PART_NUM
        ORDER BY REC_DATE ASC, PART_NAME ASC, STAFF_NAME ASC, PATIE_NAME ASC;
    </select>

    <!-- 회원 예약리스트 조회 -->
    <select id="selectAllRec" resultMap="rec">
        SELECT REC_NUM,
        DATE_FORMAT(REC_DATE, '%Y-%m-%d %H:%i') REC_DATE,
        IS_REC,
        REC_STATUS,
        REC_DETAIL,
        P.PATIE_NUM,
        S.STAFF_NUM,
        PATIE_NAME,
        PATIE_BIRTH,
        PART.PART_NUM,
        PART_NAME,
        STAFF_NAME
        FROM HOS_REC R, HOS_PATIE P, HOS_STAFF S, HOS_PART PART
        WHERE IS_REC = 'Y'
        AND REC_STATUS = '대기'
        AND REC_DATE > CURDATE()
        AND R.PATIE_NUM = P.PATIE_NUM
        AND R.STAFF_NUM = S.STAFF_NUM
        AND PART.PART_NUM = S.PART_NUM
        ORDER BY REC_DATE ASC, PART_NAME ASC, STAFF_NAME ASC, PATIE_NAME ASC;
    </select>

<!-- ============== 회원페이지 진료예약 ==============   -->
    <!-- 예약하기-->
    <insert id="insertMainRec">
        INSERT INTO HOS_REC(
            REC_DATE
            , IS_REC
            , REC_STATUS
            , REC_DETAIL
            , PATIE_NUM
            , STAFF_NUM
        )VALUES(
            #{recDate}
            , 'Y'
            , '대기'
            , #{recDetail}
            , #{patieNum}
            , #{staffNum})
    </insert>

    <!-- 회원 당사자 예약 조회 -->
    <select id="selectIdRec" resultMap="rec">
        SELECT
            REC_NUM,
            REC_DATE,
            IS_REC,
            REC_DETAIL,
            P.PATIE_NUM,
            S.STAFF_NUM,
            PATIE_NAME,
            PATIE_BIRTH,
            PART.PART_NUM,
            PART_NAME,
            STAFF_NAME
        FROM HOS_REC R, HOS_PATIE P, HOS_STAFF S, HOS_PART PART
        WHERE PATIE_NUM = #{patieNum}
        AND R.PATIE_NUM = P.PATIE_NUM
        AND R.STAFF_NUM = S.STAFF_NUM
        AND PART.PART_NUM = S.PART_NUM
    </select>

    <!--당사자 예약 삭제-->
    <delete id="delIdRec">
        DELETE FROM HOS_REC
        WHERE REC_NUM = #{recNum};
    </delete>




</mapper>































