<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resMapper">
        <resultMap id="res" type="com.green.Team3.res.vo.ResVO">
                <id column="RES_NUM" property="resNum" />
                <result column="RES_TIME" property="resTime" />
                <result column="MEM_NUM" property="memNum" />
                <result column="STAFF_NUM" property="staffNum" />
                <result column="PART_NUM" property="partNum" />
                <collection property="memberList" resultMap="memberMapper.member" />
                <collection property="staffList" resultMap="staffMapper.staff" />
                <collection property="partList" resultMap="staffMapper.part" />
        </resultMap>

        <insert id="insertChartRes">
                INSERT INTO HOS_RES (MEM_NUM, RES_TIME, STAFF_NUM, PART_NUM)
                VALUES (#{memNum}, NOW(), #{staffNum}, #{partNum});
        </insert>







</mapper>
