<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="scheduleMapper">
    <resultMap id="schedule" type="com.green.Team3.schedule.vo.ScheduleVO">
        <id column="SCH_NUM" property="schNum"/>
        <result column="START" property="start"/>
        <result column="END" property="end"/>
        <result column="TITLE" property="title"/>
        <result column="COLOR" property="color"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="ALL_DAY" property="allDay"/>
        <result column="PERSONAL_YN" property="personalYN"/>
        <association property="staffVO" resultMap="staffMapper.staff" />
    </resultMap>

    <resultMap id="doctorSchedule" type="com.green.Team3.schedule.vo.DoctorScheduleVO">
        <id column="SCH_NUM" property="schNum"/>
        <result column="START" property="start"/>
        <result column="END" property="end"/>
        <result column="TITLE" property="title"/>
        <result column="COLOR" property="color"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="ALL_DAY" property="allDay"/>
        <result column="PERSONAL_YN" property="personalYN"/>
        <result column="STAFF_NUM" property="staffNum"/>
    </resultMap>

<!--    <resultMap id="event" type="com.green.Team3.schedule.vo.EventVO">-->
<!--        <id column="SCH_NUM" property="schNum"/>-->
<!--        <result column="TITLE" property="title"/>-->
<!--        <result column="DATE" property="date"/>-->
<!--    </resultMap>-->

     <!-- 직원 전체의 일정 목록 조회 -->
    <select id="getAllList" resultMap="schedule">
        SELECT
            SCH_NUM
            , SCH_TITLE TITLE
            , SCH_CONTENT DESCRIPTION
            , SCH.STAFF_NUM
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_SDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_SDATE, '%Y-%m-%d %H:%i:%s')
                END AS START
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_EDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_EDATE, '%Y-%m-%d %H:%i:%s')
                END AS END
            , COLOR
            , ALL_DAY
        FROM HOS_SCHEDULE SCH, HOS_STAFF S
        WHERE SCH.STAFF_NUM = S.STAFF_NUM
    </select>

    <!-- 직원 한 명의 일정 목록 조회 -->
    <select id="getOneList" resultMap="schedule">
        SELECT
            SCH_NUM
            , SCH_TITLE TITLE
            , SCH_CONTENT DESCRIPTION
            , SCH.STAFF_NUM
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_SDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_SDATE, '%Y-%m-%d %H:%i:%s')
                END AS START
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_EDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_EDATE, '%Y-%m-%d %H:%i:%s')
                END AS END
            , COLOR
            , ALL_DAY
            FROM HOS_SCHEDULE SCH, HOS_STAFF S
            WHERE SCH.STAFF_NUM = S.STAFF_NUM
            AND SCH.STAFF_NUM = #{staffNum}
    </select>

    <!-- 직원 한 명의 일정 상세 조회 -->
    <select id="getDetail" resultMap="schedule">
        SELECT
            SCH_NUM
            , SCH_TITLE TITLE
            , SCH_CONTENT DESCRIPTION
            , SCH.STAFF_NUM
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_SDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_SDATE, '%Y-%m-%d %H:%i')
                END AS START
            , CASE
                WHEN ALL_DAY = 'Y' THEN DATE_FORMAT(SCH_EDATE, '%Y-%m-%d')
                ELSE DATE_FORMAT(SCH_EDATE, '%Y-%m-%d %H:%i')
                END AS END
            , COLOR
            , ALL_DAY
        FROM HOS_SCHEDULE SCH, HOS_STAFF S
        WHERE SCH.STAFF_NUM = S.STAFF_NUM
            AND SCH_NUM = #{schNum}
    </select>

    <!-- 일정 추가 -->
    <insert id="addEvent">
        INSERT INTO HOS_SCHEDULE (
            SCH_TITLE
            , SCH_CONTENT
            , STAFF_NUM
            , COLOR
            , SCH_SDATE
            , SCH_EDATE
            , ALL_DAY
        ) VALUES (
            #{title}
            , #{description}
            , #{staffNum}
            , #{color}
            <if test='allDay.equals("true")'>
                , DATE_FORMAT(#{start}, '%Y-%m-%d %H:%i')
                , DATE_FORMAT(#{end}, '%Y-%m-%d %H:%i')
                , 'Y'
            </if>
            <if test='allDay.equals("false")'>
                , #{start}
                , #{end}
                , 'N'
            </if>
        )
    </insert>

    <!-- 일정 수정 -->
    <update id="modifyEvent">
        UPDATE hos_schedule SET
        SCH_TITLE = #{title}
        , SCH_CONTENT = #{description}
        , COLOR = #{color}
        , ALL_DAY = #{allDay}
        <if test='allDay.equals("Y")'>
            , SCH_SDATE = #{start}
            , SCH_EDATE = #{end}
        </if>
        <if test='allDay.equals("N")'>
            , SCH_SDATE = DATE_FORMAT(#{start}, '%Y-%m-%d %H:%i')
            , SCH_EDATE = DATE_FORMAT(#{end}, '%Y-%m-%d %H:%i')
        </if>
        WHERE SCH_NUM = #{schNum}
    </update>

    <!-- 일정 삭제 -->
    <delete id="deleteEvent">
        DELETE FROM HOS_SCHEDULE
        WHERE SCH_NUM = #{schNum}
    </delete>

    <!-- 진료 + 개인 일정 조회 -->
    <select id="getAllSchedule" resultMap="doctorSchedule">
        SELECT SCH_NUM, SCH_SDATE START, SCH_EDATE END, SCH_TITLE TITLE, ALL_DAY, COLOR, STAFF_NUM, 'Y' AS PERSONAL_YN
        FROM hos_schedule
        WHERE STAFF_NUM = #{staffNum}
        UNION ALL
        SELECT REC_NUM, REC_DATE, DATE_ADD(REC_DATE, INTERVAL 30 MINUTE), (SELECT PATIE_NAME FROM hos_patie WHERE PATIE_NUM = hos_rec.PATIE_NUM), 'N', '#858585', STAFF_NUM, 'N'
        FROM hos_rec
        WHERE STAFF_NUM = #{staffNum}
    </select>

    <!-- 진료 일정 상세 조회 -->
    <select id="getRecDetail" resultMap="recMapper.rec">
        SELECT REC_NUM, REC_DATE, DATE_ADD(REC_DATE, INTERVAL 30 MINUTE) REC_EDATE, (SELECT PATIE_NAME FROM hos_patie WHERE PATIE_NUM = hos_rec.PATIE_NUM) PATIE_NAME, 'N', '#858585' COLOR, STAFF_NUM, 'N' PERSONAL_YN, IFNULL(REC_DETAIL, '내용 없음') AS REC_DETAIL
        FROM HOS_REC
        WHERE REC_NUM = #{recNum}
    </select>

</mapper>
