<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="staffMapper">
    <resultMap id="staff" type="com.green.Team3.staff.vo.StaffVO">
        <id column="STAFF_NUM" property="staffNum"/>
        <result column="STAFF_NAME" property="staffName"/>
        <result column="STAFF_ROLE" property="staffRole"/>
        <result column="STAFF_BIRTH" property="staffBirth"/>
        <result column="STAFF_TEL" property="staffTel"/>
        <result column="STAFF_ADDR" property="staffAddr"/>
        <result column="STAFF_ID" property="staffId"/>
        <result column="STAFF_PW" property="staffPw"/>
        <result column="STAFF_GEN" property="staffGen"/>
        <result column="HIRE_DATE" property="hireDate"/>
        <result column="PART_NUM" property="partNum"/>
        <association property="part" resultMap="part"/>
    </resultMap>

    <resultMap id="part" type="com.green.Team3.part.vo.PartVO">
        <id column="PART_NUM" property="partNum"/>
        <result column="PART_NAME" property="partName"/>
    </resultMap>

    <!--    로그인 -->
    <select id="loginStaff" resultMap="staff">
        SELECT STAFF_ID, STAFF_PW, STAFF_ROLE, STAFF_NAME, STAFF_NUM
        FROM HOS_STAFF
        WHERE STAFF_ID=#{staffId}
        AND STAFF_PW=#{staffPw}
    </select>

    <!-- 부서 목록 조회 -->
    <select id="getPartList" resultMap="part">
        SELECT PART_NUM
            , PART_NAME
        FROM HOS_PART
        ORDER BY PART_NAME ASC
    </select>

    <!-- 스태프 등록 -->
    <insert id="regStaff">
        INSERT INTO HOS_STAFF (
            PART_NUM
            , STAFF_NAME
            , STAFF_ID
            , STAFF_PW
            , STAFF_BIRTH
            , STAFF_ADDR
            , STAFF_TEL
            , STAFF_GEN
        ) VALUES (
            #{partNum}
            , #{staffName}
            , #{staffId}
            , #{staffPw}
            , #{staffBirth}
            , #{staffAddr}
            , #{staffTel}
            , #{staffGen}
        );
    </insert>

    <!-- 직원 현황 (직원 대표정보 조회) -->
    <select id="getStaffList" resultMap="staff">
        SELECT STAFF_NUM
            , PART_NAME
            , STAFF_NAME
            , STAFF_BIRTH
            , STAFF_TEL
            , STAFF_ADDR
        FROM HOS_STAFF STAFF, HOS_PART PART
        WHERE STAFF.PART_NUM = PART.PART_NUM
        ORDER BY STAFF_NAME ASC
    </select>

    <!-- 직원 상세정보 목록 조회 -->
    <select id="getStaffInfoList" resultMap="staff">
        SELECT STAFF_NUM
        , PART_NAME
        , STAFF_NAME
        , STAFF_BIRTH
        , STAFF_TEL
        , STAFF_ADDR
        , STAFF_GEN
        , DATE_FORMAT(HIRE_DATE, '%Y-%m-%d') AS HIRE_DATE
        FROM HOS_STAFF STAFF, HOS_PART PART
        WHERE STAFF.PART_NUM = PART.PART_NUM
        ORDER BY PART_NAME ASC, HIRE_DATE DESC, STAFF_NAME ASC
    </select>

    <!-- 직원 상세보기-->
    <select id="getStaffDetail" resultMap="staff">
        SELECT STAFF_NUM
            , STAFF_NAME
            , STAFF_BIRTH
            , STAFF_TEL
            , STAFF_ADDR
            , STAFF_ID
            , STAFF_PW
            , STAFF_GEN
            , DATE_FORMAT(HIRE_DATE, '%Y-%m-%d') AS HIRE_DATE
            , PART_NAME
        FROM HOS_STAFF STAFF, HOS_PART PART
        WHERE STAFF.PART_NUM = PART.PART_NUM
        AND STAFF_NUM = #{staffNum}
    </select>

    <!-- 직원정보 수정 -->
    <update id="updateStaffInfo">
        UPDATE HOS_STAFF
        SET
            STAFF_TEL = #{staffTel}
            , STAFF_ADDR = #{staffAddr}
            , STAFF_ID = #{staffId}
            , STAFF_PW = #{staffPw}
            , HIRE_DATE = #{hireDate}
        WHERE STAFF_NUM = #{staffNum}
    </update>

    <!-- 직원 삭제 -->
    <delete id="deleteStaff">
        DELETE FROM HOS_STAFF
        WHERE STAFF_NUM =#{staffNum}
    </delete>


    <!--담당의 조회-->
    <select id="selectStaffName" resultMap="staff">
        SELECT P.PART_NUM, P.PART_NAME, STAFF_NAME, STAFF_NUM
        FROM HOS_PART P, HOS_STAFF S
        WHERE P.PART_NUM = S.PART_NUM
        AND P.PART_NUM = #{partNum}
        AND STAFF_ROLE = 'DOCTOR'
    </select>

	
</mapper>

































