<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="supMapper">
    <resultMap id="sup" type="com.green.Team3.supplier.vo.SupVO">
        <id column="SUP_NUM" property="supNum"/>
        <result column="SUP_NAME" property="supName"/>
    </resultMap>

    <resultMap id="itemType" type="com.green.Team3.supplier.vo.ItemTypeVO">
        <id column="TYPE_NUM" property="typeNum"/>
        <result column="TYPE_NAME" property="typeName"/>
    </resultMap>

    <resultMap id="item" type="com.green.Team3.supplier.vo.ItemVO">
        <id column="ITEM_NUM" property="itemNum"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="PRICE" property="price"/>
        <result column="STOCK" property="stock"/>
        <result column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_DETAIL" property="itemDetail"/>
        <result column="TYPE_NUM" property="typeNum"/>
        <result column="SUP_NUM" property="supNum"/>
        <association property="supVO" resultMap="sup"/>
        <association property="itemTypeVO" resultMap="itemType"/>
    </resultMap>

    <!--발주 리스트-->
    <select id="selectOrderingList" resultMap="item">
        SELECT *
        FROM SUP S, ITEM_TYPE T, ITEM I
        WHERE I.SUP_NUM = S.SUP_NUM
        AND I.TYPE_NUM = T.TYPE_NUM;
    </select>


</mapper>































