<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="supmMapper">
    <resultMap id="supm" type="com.green.Team3.supm.vo.SupmVO">
        <id column="SUPM_NUM" property="supmNum"/>
        <result column="SUPM_ROLE" property="supmRole"/>
        <result column="SUPM_NAME" property="supmName"/>
        <result column="SUPM_ADDR" property="supmAddr"/>
        <result column="SUPM_BIRTH" property="supmBirth"/>
        <result column="SUPM_TEL" property="supmTel"/>
        <result column="SUPM_ID" property="supmId"/>
        <result column="SUPM_PW" property="supmPw"/>
    </resultMap>


</mapper>































